<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <style>

}
    div.Tenis Pé {
        font-family: arial;
        color: #b04949; 
        text-align: center;
    }

    a{
        font-family: Arial;
        text-align: justify;
        color: #6b2e2e; 
    }

    li{
        font-family: Arial;
        color:black
    }

    p {
       color: black;
       font-family: Arial;
    }
    
    h5{
        text-align: center;
        font-family: Arial;
    }

    body{
        background-color: #f3e6defb;
    }
    </style>
</head>
</html>

